/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif; */

.history {
    min-width: 1400px;
    background-image: url("/historyCalendar/images/BG-art.jpg");
}

.hostory-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-item { 
    padding: 90px 10px 90px 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 12px;     
}

.description {
    position: relative;
    width: 553px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #da4a4a;
    margin: 70px auto 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0;
    transform: translateY(200px);
    transition: all 0.8s ease 0s;
}

.description._active {
    opacity: 1;
    transform: translateY(0);
}

.description::before {
    left: -40px;
    top: 7px;
    position: absolute;
    display: block;
    content: "";
    width: 64px;
    height: 2px;
    background-color: #da4a4a;
}

.description::after {
    right: -40px;
    bottom: 7px;
    position: absolute;
    display: block;
    content: "";
    width: 64px;
    height: 2px;
    background-color: #da4a4a;
}

.caption {
    margin: 30px auto 0 auto;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 88px;
    color: #da4a4a;
    opacity: 0;
    transform: translateY(200px);
    transition: all 1s ease 0s;
}

.caption._active {
    opacity: 1;
    transform: translateY(0);
}

/* content block */
.content {
    margin-top: 20%;
}

.item-img {
    width: 400px;
    height: 415px;
    grid-column: 2;
    margin: -200px 0 0 150px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    opacity: 0;
    transform: translateY(200px);
    transition: all 0.8s ease 0s;
}

.item-img._active {
    transform: translateY(0);
    opacity: 0.7;
}

.item-img:hover {
    opacity: 1;
}

.item-dates {
    display: grid;
    width: 530px;
    height: 220px;
    grid-template-columns: 132px 132px 132px 132px;
    grid-template-rows: 120px 120px;    
    grid-column: 1;
    transform: translateY(100px);
    transition: all 0.8s ease 0s;
    opacity: 0;
}

.item-dates._active {
    opacity: 1;
    transform: translateY(0);
}

.item-date {
    grid-row: 2;
    grid-column: 2;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #da4a4a;
    margin-top: 60px;
    width: 200px;
    transition: all 0.8s ease 0s;
    transform: translateX(-200px);
    opacity: 0;
}

.item-date._active {
    transform: translateX(0);
    opacity: 1;
}

.item-date::after {
    position: absolute;
    display: block;
    content: "";
    width: 64px;
    height: 2px;
    background-color: #da4a4a;
    top: 10px;
    left: -90px;
}

.item-year {
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 240px;
    line-height: 240px;
    color: #ffffff;
    opacity: 0.4;
    z-index: -1;
}

.item-dl {
    width: 550px;
    margin: 0 0 0 130px;
    grid-column: 1;
    transform: translateY(100px);
    transition: all 0.8s ease 0s;
    opacity: 0;
}

.item-dl._active {
    opacity: 1;
    transform: translateY(0);
}

.item-dl dt {
    margin-bottom: 18px;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}

.item-dl dd {
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
}

/* item-grid */
.content__item-1 { 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-bottom: 200px;
}

.content__item-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-bottom: 200px;
}

.content__item-2 .item-dates {
    grid-column: 2;
    display: grid;
    width: 530px;
    height: 220px;
    grid-template-columns: 132px 132px 132px 132px;
    grid-template-rows: 120px 120px;    
}

.content__item-2 .item-date {
    position: relative;
    grid-row: 2;
    grid-column: 5;
    margin-left: -115px;
}

.content__item-2 .item-year {
    margin-left: 100px;
}

.content__item-2 .item-dl {
    grid-column: 2;
    text-align: right;
    margin-left: 24px;
    
}

.content__item-2 .item-img {
    grid-column: 1;
    margin: -400px 0 0 130px;
}

.content__item-3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-bottom: 200px;
}

.content__item-3 .item-img {
    grid-column: 2;
    margin: -200px 0 0 130px;
}

/* footer */

.footer-p {
    font-family: 'Montserrat', sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 30px auto;
    opacity: 0.5;  
    width: 300px; 
}
