.container {
    width: 80%;
    margin: 0 auto;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-item { 
    padding: 90px 10px 90px 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 12px;     
}

.nav-item:hover {
    color: #afafaf;
}

.nav-item__active {
    color: #FBD784;
}

.nav-item__active:hover {
    color: #FBD784;
}